#### Imports

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', 400)

#### Explore data

In [3]:
df = pd.read_csv('./data/train.csv', names=['label', 'email'])
df.head()

,label,email
0,0,Subject: re : anita dupont resume\n oooopppss !\n please disregard the e - mail below as i see now that shirley has already sent\n the job description to norma villarreal .\n my apologies .\n irma alvarez\n ext . 3 - 1543\n - - - - - - - - - - - - - - - - - - - - - - forwarded by sheila walton / hou / ect on 08 / 07 / 2000 11 : 20\n pm - - - - - - - - - - - - - - - - - - - - - - - - - - -\n fr...
1,1,"Subject: fancy a flutter ? here 's atip\n \n for thursday 26th march for the best racing tip of the day phone 0897-555293 after 1 . 30pm . do n't believe me , try it , all you will risk is a 50p phone call but you could gain a very entertaining additional source of income . fact ! the information recorded on this telephone number on most race days has consistently produced winning bets at a hi..."
2,0,"Subject: re : re - start / integration planning\n enrononline / netcoonline status update :\n - "" netcoonline "" will be distinct from enrononline , with much the same functionality and a refreshed look .\n - we will carry data to support the same gas and power products as were on enrononline . please contact us if you will need different products from what was on enrononline .\n - we have prep..."
3,0,"URL: http://www.askbjoernhansen.com/archives/2002/09/20.html\nDate: 2002-09-20T17:10:35-08:00Yesterday Viridiana came to my place and dragged me out to look at the sky. It \nwas beautiful. Odd colors and light. Obviously we wondered what it was. Today \nJim explains it. (It was a rocket test from the Vandenburg air force base). \nVery neat. It was a bit too blurred out when I saw it, and there..."
4,1,"Subject: last minute deals - - airfare , cruises , hotels charset = utf - 8 "" >\n travelocitymexico air sale fly rt from only 165\n expediacaribbean fall sale , air + 3 nts hotel only 366\n travelocitylast minute vacations w / airfare only 177\n travel by jen . comjamaica negril , air , 6 days , all - inc 599\n cruisedeals . comsuite on royal caribbean for only 375 pp\n only fun vacationscabo ..."

In [4]:
df.shape

(18652, 2)

In [43]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.0536)

In [44]:
train.shape

(17652, 2)

In [45]:
test.shape

(1000, 2)

In [47]:
test.to_csv('./data/test.csv', index=False, header=False)

In [48]:
train.to_csv('./data/train.csv', index=False, header=False)

##### Copy data from local to S3

In [ ]:
!aws cp